.round_btn {
  display: inline-block;
  padding: 7px 20px;
  border-radius: 25px;
  text-decoration: none;
  color: #FFF;
  background-image: -webkit-linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
  background-image: linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
  transition: .4s;
}

.round_btn:hover {
  background-image: -webkit-linear-gradient(45deg, #FFC107 0%, #f76a35 100%);
  background-image: linear-gradient(45deg, #FFC107 0%, #f76a35 100%);
}

.App-counter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bg-img {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}

@media screen and (max-width: 1024px) {

  /* Specific to this particular image */
  .bg-img {
    left: 50%;
    margin-left: -512px;
    /* 50% */
  }
}